.degrau {
    width: 65px;
    height: 50px;
    background-color: #110404;
    margin-left: 5px;
    position: relative;
  }


  .altura-degrau {
    position: absolute;
    top: 10px;
    left: 55px; 
    transform: rotate(-270deg);
    transform-origin: center;
  }
  #containerDegraus {
    padding-top: 100px;
    padding-left: 50px;
    text-align: center; 
    margin: 0 auto; 
  }